<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{521,41}</string>
                <key>spriteSourceSize</key>
                <string>{525,45}</string>
                <key>textureRect</key>
                <string>{{1,1283},{521,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{514,1283},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{112,128}</string>
                <key>textureRect</key>
                <string>{{1724,1695},{112,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crab1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{112,128}</string>
                <key>textureRect</key>
                <string>{{1854,1695},{112,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crab_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{112,138}</string>
                <key>spriteSourceSize</key>
                <string>{112,140}</string>
                <key>textureRect</key>
                <string>{{1584,1690},{112,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duckman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,129}</string>
                <key>spriteSourceSize</key>
                <string>{113,129}</string>
                <key>textureRect</key>
                <string>{{1191,1692},{113,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duckman1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{111,129}</string>
                <key>spriteSourceSize</key>
                <string>{113,129}</string>
                <key>textureRect</key>
                <string>{{930,1696},{111,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duckman2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,129}</string>
                <key>spriteSourceSize</key>
                <string>{113,129}</string>
                <key>textureRect</key>
                <string>{{1453,1690},{113,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duckman_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,88}</string>
                <key>spriteSourceSize</key>
                <string>{200,92}</string>
                <key>textureRect</key>
                <string>{{180,1445},{200,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{723,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giraffe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,160}</string>
                <key>spriteSourceSize</key>
                <string>{95,160}</string>
                <key>textureRect</key>
                <string>{{180,1283},{95,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giraffe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,160}</string>
                <key>spriteSourceSize</key>
                <string>{95,160}</string>
                <key>textureRect</key>
                <string>{{187,1647},{95,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giraffe2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{95,152}</string>
                <key>spriteSourceSize</key>
                <string>{95,160}</string>
                <key>textureRect</key>
                <string>{{710,1445},{95,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>giraffe_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,95}</string>
                <key>spriteSourceSize</key>
                <string>{160,95}</string>
                <key>textureRect</key>
                <string>{{277,1283},{160,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,420}</string>
                <key>spriteSourceSize</key>
                <string>{91,420}</string>
                <key>textureRect</key>
                <string>{{87,1283},{91,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{521,41}</string>
                <key>spriteSourceSize</key>
                <string>{525,45}</string>
                <key>textureRect</key>
                <string>{{44,1283},{521,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mute.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{548,1403},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{812,1697},{110,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parrot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,110}</string>
                <key>spriteSourceSize</key>
                <string>{187,110}</string>
                <key>textureRect</key>
                <string>{{270,1445},{187,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parrot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,110}</string>
                <key>spriteSourceSize</key>
                <string>{187,110}</string>
                <key>textureRect</key>
                <string>{{382,1445},{187,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parrot_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,93}</string>
                <key>spriteSourceSize</key>
                <string>{133,93}</string>
                <key>textureRect</key>
                <string>{{864,1445},{133,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{514,1413},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pikachu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,138}</string>
                <key>spriteSourceSize</key>
                <string>{186,138}</string>
                <key>textureRect</key>
                <string>{{494,1445},{186,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pikachu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,6}</string>
                <key>spriteSize</key>
                <string>{154,126}</string>
                <key>spriteSourceSize</key>
                <string>{186,138}</string>
                <key>textureRect</key>
                <string>{{564,1633},{154,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pikachu_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,138}</string>
                <key>spriteSourceSize</key>
                <string>{143,138}</string>
                <key>textureRect</key>
                <string>{{1390,1445},{143,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{634,1583},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{723,723},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{634,1543},{38,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>salesclerk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,139}</string>
                <key>spriteSourceSize</key>
                <string>{152,139}</string>
                <key>textureRect</key>
                <string>{{692,1543},{152,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>salesclerk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{132,139}</string>
                <key>spriteSourceSize</key>
                <string>{152,139}</string>
                <key>textureRect</key>
                <string>{{1530,1445},{132,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>salesclerk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,139}</string>
                <key>spriteSourceSize</key>
                <string>{152,139}</string>
                <key>textureRect</key>
                <string>{{969,1540},{150,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,98}</string>
                <key>spriteSourceSize</key>
                <string>{108,98}</string>
                <key>textureRect</key>
                <string>{{1390,1590},{108,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{108,98}</string>
                <key>textureRect</key>
                <string>{{87,1705},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shark_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,98}</string>
                <key>spriteSourceSize</key>
                <string>{108,98}</string>
                <key>textureRect</key>
                <string>{{1500,1590},{108,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{588,1403},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,93}</string>
                <key>spriteSourceSize</key>
                <string>{126,93}</string>
                <key>textureRect</key>
                <string>{{999,1445},{126,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,93}</string>
                <key>spriteSourceSize</key>
                <string>{126,93}</string>
                <key>textureRect</key>
                <string>{{1127,1445},{126,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,93}</string>
                <key>spriteSourceSize</key>
                <string>{126,93}</string>
                <key>textureRect</key>
                <string>{{1255,1445},{126,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unicorn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,128}</string>
                <key>spriteSourceSize</key>
                <string>{84,128}</string>
                <key>textureRect</key>
                <string>{{634,1283},{84,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unicorn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,118}</string>
                <key>spriteSourceSize</key>
                <string>{110,128}</string>
                <key>textureRect</key>
                <string>{{692,1697},{110,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unicorn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,128}</string>
                <key>textureRect</key>
                <string>{{1322,1691},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unicorn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{1804,1445},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unicorn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{115,128}</string>
                <key>spriteSourceSize</key>
                <string>{119,128}</string>
                <key>textureRect</key>
                <string>{{1061,1692},{115,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unicorn5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,128}</string>
                <key>spriteSourceSize</key>
                <string>{120,128}</string>
                <key>textureRect</key>
                <string>{{1804,1573},{120,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unicorn_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{128,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,84}</string>
                <key>textureRect</key>
                <string>{{634,1413},{128,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,138}</string>
                <key>spriteSourceSize</key>
                <string>{165,138}</string>
                <key>textureRect</key>
                <string>{{424,1634},{165,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warma1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{1664,1445},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warma2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,134}</string>
                <key>spriteSourceSize</key>
                <string>{152,138}</string>
                <key>textureRect</key>
                <string>{{833,1542},{152,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warma3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,138}</string>
                <key>spriteSourceSize</key>
                <string>{156,138}</string>
                <key>textureRect</key>
                <string>{{374,1283},{156,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warma4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,138}</string>
                <key>textureRect</key>
                <string>{{1110,1540},{150,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warma5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,138}</string>
                <key>spriteSourceSize</key>
                <string>{169,138}</string>
                <key>textureRect</key>
                <string>{{284,1634},{169,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warma6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{149,138}</string>
                <key>spriteSourceSize</key>
                <string>{153,138}</string>
                <key>textureRect</key>
                <string>{{1250,1540},{149,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soccer.png</string>
            <key>size</key>
            <string>{2004,1808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65b4155cbb2dd0e0939898de568634ad:310d8876ba9a03bfd3adc579e1ef4c9b:384555fa4de839b1b88178108eb0606e$</string>
            <key>textureFileName</key>
            <string>soccer.png</string>
        </dict>
    </dict>
</plist>
